body{
  background-color: #336;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulo{
  border-left: 7px solid #3334;
  border-bottom: 7px solid #3334;
  outline: 4px solid #fea9ec;
  margin: 20px;
  border-radius: 50%;
  background-color: #bf0096;
  width: 15em;
  height: 15em;
  transition: box-shadow .7s;
}
.circulo:hover{
  box-shadow: 0px 0px 20px #fea9ec;
}
.zonarect{
  border-left: 7px solid #3334;
  border-bottom: 7px solid #3334;
  outline: 4px solid #feaf97;
  margin: 20px;
  background-color: #d64f24;
  border-radius: 15px;
  width: 20em;
  height: 20em;
  transition: box-shadow .7s;
}
.zonarect:hover {
  box-shadow: 0px 0px 20px #feaf24;
}
